/* #heading
{
    margin-top: 15%;
    margin-left: 35%;
    color: rgb(208,208,208);
}
#heading h1
{
    font-size: 6rem;
    font-family: "Arial Black", Gadget, sans-serif;
    line-height: 0.5em;	
}
#heading p
{
    font-size: 1.8rem;
    font-family: 'Satisfy', cursive;
    margin-left: -10%;
    line-height: 0.5em;
    text-align: center;
} */
#heading
{
    position: absolute;
    top: 28%;
    left: 35%;
    color: rgb(208,208,208);
    max-width: 100vw;;
}
#heading h1
{

    font-size: 6.5rem;
    font-family: "Arial Black", Gadget, sans-serif;
    line-height: 0.5em;	
}
#heading p
{
    font-size: 1.8rem;
    font-family: 'Satisfy', cursive;
    /* margin-left: -10%; */
    line-height: 0.5em;
    text-align: center;
}
#home h6
{
    max-width: 100vh;
    /* margin-top: 25%; */
    /* margin-left: -40%; */
    position: absolute;
    bottom: 5%;
    color: rgb(208,208,208);
    left: 5%;
}

.abtheader
{
    width: 100%;
    height: 30vh;
    background-image: url("media/wmtbg.jpg");
    padding: 10;
    /* box-shadow: 10px 10px 5px #172033; */
}
.abtheader #abtheading
{
    padding: 5%;
    font-size: 6rem;
    color: #172033;
    text-shadow: 2px 2px 4px #050a14;
}
.abtbanner
{
    width: 100%;
    height: 70vh;
    display: flex;
}
.abtimg
{
    width: 45%;
    height: auto;
    text-align: center;
    vertical-align: middle;
    padding: 2%;
    background: #ffffff;
    float: left;
    /* background-image: url("media/abtill2.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; */
}
.abtimg img
{
    width: 65%;
    height: auto;
    vertical-align: middle;
    overflow: hidden;
}
.abtpara
{
    width: 55%;
    height: 70vh;
    float: right;
    background: rgb(255, 255, 255);
    padding: 5%;
    font-size: 1.3rem;
}
.abtpara button
{
    border: 1px solid #050a14;
    background: none;
    box-shadow: none;
    border-radius: 0px;
    width: 40%;
    padding: 1px;
}
.abtpara a button:hover
{
    cursor: pointer;
    color: #f1f1f1;
    background: #050a14;
    text-align: center;
}
#socialic li
{
    list-style: none;
}
/* contact-us */

.cntheader
{
/* width: 50%; */
height: 30vh;
float: left;
text-align: center;
}
.cntheader h1
{
    padding: 3%;
    font-size: 6rem;
}
.cntsocial
{
    /* width: 50%; */
    height: 30vh;
    float: right;
    padding: 4%;
}
.cntsocial img
{
    width: 15%;
    padding-left: 20px;
    padding-right: 20px;
}
.cntpara
{
    background-color: yellowgreen;
    /* width: 50%; */
    height: 70vh;
    display: flex;
    float: left;
    text-align: center;
}
.cntform
{
    background-color: violet;
    /* width: 50%; */
    height: 70vh;
    display: flex;
    float: right;
    text-align: center;
}
.cntview
{
    /* width: 50%; */
    height: 40vh;
    bottom: 0;
    background-color: tomato;
    float: left;
    text-align: center;
}
.cntmap
{
    /* width: 50%; */
    height: 40vh;
    bottom: 0;
    background-color: steelblue;
    float: right;
    text-align: center;
}
#credit h6
{
    text-align: center;
    margin: 0 auto;
}
#credit span
{
    font-size: 25px;
}
#credit a
{
    color: rgb(24, 24, 24);
    text-decoration: none;
}
#credit a:hover
{
    font-size: 1.1rem;
}
@media screen and (max-width: 850px){
    #heading
    {
        position: absolute;
        top: 28%;
        left: 11%;
    }
    #heading h1
    {
        font-size: 10vw;
        text-align: center;
        /* line-height: 0.3em; */
    }
    #heading p
    {
        font-size: 3vh;
    }
    #home h6
    {
       left: 22%; 
    }
    .abtimg
    {
        width: 100%;
    }
    .abtpara
    {
        padding: 8%;
        width: 100%;
        text-align: center;
        font-size: 1.2rem;
    }
    #socialic
    {
        display: none;
    }
    .cntsocial
    {
        height: 10vh;
        text-align: center;
        object-position: center;
        /* vertical-align: middle; */
    }
    .cntsocial img
    {
        width: 23%;
    }
}