/* #heading
{
    margin-top: 15%;
    margin-left: 35%;
    color: rgb(208,208,208);
}
#heading h1
{
    font-size: 6rem;
    font-family: "Arial Black", Gadget, sans-serif;
    line-height: 0.5em;	
}
#heading p
{
    font-size: 1.8rem;
    font-family: 'Satisfy', cursive;
    margin-left: -10%;
    line-height: 0.5em;
    text-align: center;
} */
* {
    box-sizing: border-box;
  }
#heading
{
    padding: 0;
    position: absolute;
    top: 15%;
    left: 35%;
    color: rgb(208,208,208);
    max-width: 100vw;;
}
#heading h1
{

    font-size: 6rem;
    font-family: "Arial Black", Gadget, sans-serif;
    line-height: 0.5em;	
}
#heading p
{
    font-size: 1.8rem;
    font-family: 'Satisfy', cursive;
    /* margin-left: -10%; */
    line-height: 0.5em;
    text-align: center;
}
#home h6
{
    max-width: 100vh;
    /* margin-top: 25%; */
    /* margin-left: -40%; */
    position: absolute;
    bottom: 1%;
    color: rgb(208,208,208);
    left: 5%;
    font-size: 1rem;
}

.abtheader
{
    width: 100%;
    height: 30vh;
    background-image: url("media/wmtbg.jpg");
    /* padding: 10; */
    float: none;
    display: flex;
}
.abtheader h1
{
    padding-left: 5%;
    /* padding-top: 5%; */
    font-size: 6rem;
    color: #172033;
    text-shadow: 2px 2px 4px #050a14;
}
.abtimg
{
    width: 45%;
    height: 70vh;
    text-align: center;
    vertical-align: middle;
    padding: 2%;
    background: #ffffff;
    float: left;
}
.abtimg img
{
    width: 65%;
    height: auto;
    vertical-align: middle;
    overflow: hidden;
}
.abtpara
{
    width: 55%;
    height: 70vh;
    float: left;
    background: rgb(255, 254, 254);
    padding: 5%;
    font-size: 1.3rem;
}
.abtpara button
{
    border: 1px solid #050a14;
    background: none;
    box-shadow: none;
    border-radius: 0px;
    width: 40%;
    height: 17%;
    padding: 1px;
}
.abtpara a button:hover
{
    cursor: pointer;
    color: #f1f1f1;
    background: #050a14;
    text-align: center;
}
#socialic ul
{
    display: flex;
    justify-content: space-around;
}
#socialic li
{
    list-style: none;
    display: inline-block;
}
/* contact-us */

.cntheader
{
width: 100%;
height: 30vh;
text-align: center;
display: flex;
margin: 0;
}
.cntheader h1
{
    font-size: 6rem;
    margin: 0;
    padding: 1.2%;
}
/* .cntsocial
{
    float: right;
    padding: 4%;
} */

.cntsoc #cntsocial
{
    display: flex;
    justify-content: space-around;
    object-position: center;
    position: absolute;
    left: 60%;
    top: 3%;
    padding: 20px;
}
#cntsocial li
{
    list-style: none;
    display: inline-block;
    object-position: center;
    padding-left: 20px;
    padding-right: 20px;


}
.cntpara
{
    background-color: yellowgreen;
    width: 50%;
    height: 70vh;
    display: flex;
    float: left;
    text-align: center;
}
.cntform
{
    background-color: violet;
    width: 50%;
    height: 70vh;
    display: flex;
    float: right;
    text-align: center;
}
.cntview
{
    width: 50%;
    height: 40vh;
    bottom: 0;
    background-color: tomato;
    float: left;
    text-align: center;
}
.cntmap
{
    width: 50%;
    height: 40vh;
    bottom: 0;
    background-color: steelblue;
    float: right;
    text-align: center;
}
#credit h6
{
    text-align: center;
    margin: 0 auto;
    font-size: 1rem;
    vertical-align: middle;
}
#credit span
{
    font-size: 25px;
    vertical-align: middle;
}
#credit a
{
    color: rgb(24, 24, 24);
    text-decoration: none;
}
#credit a:hover
{
    font-size: 1.1rem;
}
@media screen and (max-width: 850px){
    #heading
    {
        position: relative;
        top: 28%;
        left: 0;
        width: 100%;
    }
    #heading h1
    {
        position: relative;
        font-size: 10vw;
        text-align: center;
    }
    #heading p
    {
        font-size: 3vh;
        text-align: center;
    }
    #home h6
    {
       left: 22%; 
    }
    .abtheader
    {
        padding: 0%;
        height: 25vh;
    }
    .abtheader #abtheading
    {
        padding-left: 10px;
        padding-top: 0%;
        margin: 0;
        font-size: 4.2rem;
    }
    .abtimg
    {
        width: 100%;
        height: 20vh;
        margin: 0;
    }
    .abtpara
    {
        padding: 6%;
        margin: 0;
        width: 100%;
        height: 50vh;
        text-align: center;
    }
    .abtpara #abtpara1
    {
        padding: 1%;
        font-size: 1.1rem;
        line-height: 1.17rem;
        justify-content: space-around;
    }
    .abtpara a button
    {
        line-height: 0rem;
        margin: 0;
        padding: 0;
    }
    #socialic
    {
        display: none;
    }
    #cntheader
    {
        width: 100%;
        float: none;
    }
    .cntsoc
    {
        width: 100%;
        height: 10vh;
        display: block;
    }
    .cntsoc #cntsocial
    {
        left: 0;
        margin: 0;
        padding: 0;
        position: inherit;
    }
    .cntpara
    {
        width: 100%;
    }
    .cntform
    {
        width: 100%;
    }
    .cntview
    {
        width: 100%;
    }
    .cntmap
    {
        width: 100%;
    }
    #credit h6
    {
        padding: 5%;
    }
}